<p>with two subscribes</p>
@if(vm.isLoading$ | async) {
  <section>
    Loading...
  </section>
} @else {
  <ul>
    @for (item of (vm.items$ | async); track item.id) {
      <li>
        {{ item.id }} - {{ item.date }} - {{ item.value }}
      </li>
    }
  </ul>
}

<p>with one subscribe and combineLatest</p>
@if (vm.vm$ | async; as vm) {

  @if (vm.isLoading) {
    <section>Loading...</section>
  } @else {
    <ul>
      @for (item of vm.items; track item.id) {
        <li>
          {{ item.id }} - {{ item.date }} - {{ item.value }}
        </li>
      }
    </ul>
  }

}
<button (click)="vm.refresh()">
  Refresh
</button>
