<mat-card>
  <mat-card-title>Records</mat-card-title>
  <button mat-raised-button color="primary" (click)="onCreate()">New</button>

  <!-- filter for category -->
  <mat-form-field appearance="outline" style=" margin-bottom: 1rem; margin-top: 1rem;">
    <mat-label>Categories</mat-label>
    <mat-select [value]="selectedCategoryId()" (valueChange)="selectedCategoryId.set($event)">
      <mat-option [value]="null">All categories</mat-option>
      @for (cat of categories(); track cat.id) {
        <mat-option [value]="cat.id">{{ cat.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <!-- filter for years -->
  <mat-form-field appearance="outline" style=" margin-bottom: 1rem; margin-top: 1rem;">
    <mat-label>Years</mat-label>
    <mat-select [value]="selectedYear()" (valueChange)="selectedYear.set($event)">
      <mat-option [value]="null">All years</mat-option>
      @for (year of years(); track year) {
        <mat-option [value]="year">{{ year }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (loading()) {
    <div class="loading-container">
      <mat-spinner></mat-spinner>
      <p>load data...</p>
    </div>
  } @else if (error()) {
    <div class="error-message">
      Fehler beim Laden: {{ error() }}
    </div>
  } @else {
    <table mat-table [dataSource]="filteredRecords()" class="mat-elevation-z8" multiTemplateDataRows>

      <!-- category -->
      <ng-container matColumnDef="recordCategoryName">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let record">{{ record.recordCategory.name }}</td>
      </ng-container>

      <!-- Date -->
      <ng-container matColumnDef="recordDate">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let record">{{ record.recordDate | date: 'dd.MM.yyyy' }}</td>
      </ng-container>

      <!-- Value -->
      <ng-container matColumnDef="recordValue">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let record">{{ record.recordValue }}</td>
      </ng-container>

      <!-- Unit -->
      <ng-container matColumnDef="unitName">
        <th mat-header-cell *matHeaderCellDef>Unit</th>
        <td mat-cell *matCellDef="let record">{{ record.recordCategory.measurementUnit.nameEn }}</td>
      </ng-container>

      <!-- Header & Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  }
</mat-card>
